NODE_ENV="development"

CLERK_PUBLISHABLE_KEY=your_publishable_key_here
CLERK_SECRET_KEY=your_secret_key_here

# Pooled Neon connection string
DATABASE_URL="neonpgsql://neondb_owner:your_password@your_neon_host-pooler.neon.tech/neondb?sslmode=require&channel_binding=require"

# Unpooled Neon connection string
DIRECT_URL="neonpgsql://neondb_owner:your_password@your_neon_host.neon.tech/neondb?sslmode=require&channel_binding=require"
